{% extends "template.html" %}

{% block body %}
<main>
    <!-- <div class="jumbotron">
        <div class="container">
            <h1 class="display-3 text-center">JEB!</h1>
        </div>
    </div> -->
    <br><br>

    <div class="container">
        <div>
        </div>
        <div class = "row">

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 fadein">
                <h2 id = "aboutme" style = "color:white; text-align: center"> About Me </h2><hr class = "hr-white">
                <img src="/static/images/b.png" class="rounded-circle mx-auto d-block">
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>

            <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6 fadein">
                <br><br><p style = "color:white; text-align: center">
                    Hi, I'm Brian! I'm a Sophomore at Stony Brook University with several years of experience in Computer Science and web development.
                    I'm looking for an internship or part-time job to gain experience and learn more about the field.
                </p>
            </div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2"></div>



            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 "><br><br>
                <h2 id = "projects" style = "color:white; text-align: center"> Projects </h2><hr class = "hr-white">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 fadein">
                <div id = "btd" class="hovereffect">
                    <img class="img-responsive" src="/static/images/bloons1.png" alt="">
                    <div class="overlay">
                       <h2>Bloons Tower Defense</h2>
                       <a class="info" href="btd.brianmoses.tech">A Clone of the popular Bloons TD game, where you must place monkey towers to defend against attacking bloons</a>
                    </div>
                </div>
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 fadein">
                <div id = "transparency" class="hovereffect">
                    <img class="img-responsive" src="/static/images/trans2.png" alt="">
                    <div class="overlay">
                       <h2>Transparency</h2>
                       <a class="info" href="transparency.brianmoses.tech">A site where you can view information about NYPD Police Misconduct and find information about individual precincts</a>
                    </div>
                </div>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 fadein"><br><br>
                <h2 id = "skills" style = "color:white; text-align: center"> Skills </h2><hr class = "hr-white">
            </div>

            <div style = "color: white" class="col-lg-10 col-md-10 col-sm-10 col-xs-10 fadein">
                Extensive experience with web technologies: <br>

                <ul>
                    <li> Creating sites using Python and Flask</li>
                    <li> Web hosting with Apache</li>
                    <li> Experience with Javascript, including popular libraries like d3 and Phaser</li>
                    <li> Using HTML, CSS and frameworks like Bootstrap</li>
                    <li> Databse technologies including MongoDB and SQL</li>
                </ul>

                Other skills: <br>

                <ul>
                    <li> Basic knowledge of Java and C </li>
                    <li> Familiarity with Linux systems </li>
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 fadein"><br><br>
                <h2 id = "contactme" style = "color:white; text-align: center"> Contact Me </h2><hr class = "hr-white">
            </div>

            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10 fadein">
                <p style = "color:white">
                    GitHub: github.com/bmoses00
                    <br>
                    Email: brian.moses@stonybrook.edu
                </p>
            </div>

        </div><br>

        </div>
    <br>
    <br>

</main>

{% endblock body %}
